venv/lib/python3.9/site-packages/cv2/cv2.abi3.so
venv/lib/python3.9/site-packages/imageio_ffmpeg/binaries/ffmpeg-linux64-v4.2.2
.git/objects/da/69ce78a2b7b233167710499b40bb4c768c171f
static/videos/Programming-Python.mp4
venv/*
