<!-- templates/index_base.html -->
{% extends 'base_.html' %}

{% block title %}index_base{% endblock %}

{% block content %}
<div class="container">

    <body>
        <ul>
        <li><a href="https://vivago.ai" target="_blank">vivago.ai</a>
            &nbsp;&nbsp; | &nbsp;&nbsp; <a href="https://haiper.ai/creations" target="_blank">haiper.ai</a></li><br />
        <li><a href="https://cgdream.ai/" target="_blank">cgdream.ai</a></li><br />
        <li><a href="https://www.hedra.com" target="_blank">hedra.com</a></li><br />
        <li><a href="https://huggingface.co/spaces/deepseek-ai/DeepSeek-VL-7B">DeepSeek-VL-7B</a></li><br />
        <li><a href="https://cara.app/home" target="_blank">cara.app/</a></li><br />
        <li><a href="https://vivago.ai/" target="_blank">vivago.ai</a></li><br />
        <li><a href="https://pika.art/" target="_blank">pika.art/</a></li><br />
        <li><a href="https://www.imagine.art/dashboard/tool/realtime/text" target="_blank">imagine.art/</a></li><br />
        <li><a href="https://sqliteviewer.app/" target="_blank">:sqliteviewer.app</a></li><br />
        <li><a href="https://hashnode.com/@JackNorthrup" target="_blank">@JackNorthrup</a></li><br />
        <li><a href="https://hashnode.com/@jacklnorthrup" target="_blank">@jacklnorthrup</a></li><br />
        <li><a href="https://arctic.streamlit.app/">arctic.streamlit.app</a></li><br />
        <a href="https://arctic.streamlit.app/">@arctic.streamlit.app</a>
        <li><a href="https://studio.youtube.com/channel/UCCFLZ96wXs7UHnarqoK85MA/music"
                target="_blank">studio.youtube.com/music</a></li><br />
        <li><a href="https://tensor.art/" target="_blank">tensor.art</a></li><br />
        <li><a href="https://civitai.com/" target="_blank">https://civitai.com/</a></li><br />
        <li><a href="https://www.seaart.ai/home" target="_blank">https://www.seaart.ai/home</a></li><br />
        <li><a href="https://yodayo.com/" target="_blank">https://yodayo.com/</a></li><br />
        <li><a href="https://starryai.com/" target="_blank">https://starryai.com/ 10 images</a></li><br />
        <li><a href="https://www.happyaccidents.ai/create" target="_blank">happyaccidents.ai</a></li><br />
        <li><a href="https://lensgo.ai/creatVideo" target="_blank">https://lensgo.ai/creatVideo</a></li><br />
        <li><a href="https://app.leonardo.ai/ai-generations" target="_blank">leonardo.ai/ai-generations</a></li><br />
        <li><a href="https://ideogram.ai/" target="_blank">ideogram.ai</a></li><br />
        <li><a href="https://huggingface.co/prompthero/openjourney"
                target="_blank">huggingface.co/prompthero/openjourney</a></li><br />
        <li><a href="https://twitter.com/artcrushgallery" target="_blank">artcrushgallery</a></li><br />
        <li><a href="https://www.mixamo.com/#/" target="_blank">mixamo.com</a></li><br />
        <li><a href="https://www.promeai.com/ai-image-generation" target="_blank">promeai.com</a></li><br />
        <li><a href="https://www.krea.ai/apps/image/realtime" target="_blank">krea.ai</a></li><br />
        <li><a href="https://poe.com/" target="_blank">poe.com/</a></li><br />
        <li><a href="" target="_blank"></a></li><br />
        <li><a href="https://start.chatgot.io/" target="_blank">chatgot.io</a></li><br />
        <li><a href="https://www.popai.pro/creation" target="_blank">www.popai</a></li><br />
        <li><a href="https://magnific.ai/" target="_blank">magnific.ai</a></li><br />
        <li><a href="https://theoreticallymedia.gumroad.com/l/characters" target="_blank"></a>theoreticallymedia.gumroad
        </li><br />
        <li><a href="https://app.scenario.com/login" target="_blank">app.scenario</a></li><br />
        <li><a href="https://imglarger.com/account" target="_blank">imglarger.com : use chrome</a></li><br />
        <li><a href="https://pornpen.ai/search" target="_blank">https://pornpen.ai/search</a></li><br />
        <li><a href="https://fikfap.com/" target="_blank">https://fikfap.com/</a></li><br />
        <li><a href="https://huggingface.co/spaces/stabilityai/stable-diffusion"
                target="_blank">huggingface_stable-diffusion</a></li><br />
        <li><a href="https://spicychat.ai/" target="_blank">spicychat.ai</a>
        <li><a href="https://www.joyland.ai" target="_blank">www.joyland.ai</a></li><br />
        <li><a href="https://websim.ai/" target="_blank">websim.ai/</a></li><br />
        <li><a href="" target="_blank"></a></li><br />
        <li><a href="" target="_blank"></a></li><br />
        <li><a href="" target="_blank"></a></li><br />
        <li><a href="https://beeg.com/" target="_blank">https://beeg.com/</a></li><br />

        <li><a href="https://cgdream.ai/" target="_blank">cgdream.ai</a></li><br />
        <li><a href="https://convai.com/pipeline/dashboard" target="_blank">convai.com</a></li><br />
    </ul>
</div>
{% endblock %}
</body>

</html>