<!-- templates/utilities.html -->
{% extends 'base_.html' %}

{% block title %}Utilities - My App{% endblock %}

{% block content %}
<div class="container">
<body>
  
    <form action="{{ url_for('utilities') }}" method="POST">
        <label for="filename" style="color: yellow;font-weight: bold;font-size: large;" >To Run Python Script ~ Enter filename:&nbsp;&nbsp;  </label>
        <input type="text" id="filename" name="filename" required>
        <button type="submit">Run Script</button>
    </form>

    {% if result %}
    <h3>Script Output:</h3>
    <pre>{{ result }}</pre>
    {% endif %}
</body>
</div>
{% endblock %}